sources:
  c:winsrv/: https://finalproject-cse445.s3.amazonaws.com/WindowsService1.zip.zip?AWSAccessKeyId=AKIA224ES54QQW43REHW&Expires=1719688800&Signature=AJoLxU1UYe3EZ20HqRtO95jxEn4%3D
commands:
  install-testwinservice:
    command: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\installutil WindowsService1.exe
    cwd: c:winsrv
    waitAfterCompletion: 0
services:
  windows:
    "Service1":
      enabled: true
      ensureRunning: true
      commands: install-testwinservice